
       *{
        margin: 0;
        padding: 0;
        }
        html{
            scroll-behavior: smooth;
        }
        /* custom scroll bar */
        ::-webkit-scrollbar {
            width: 10px;
        }
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        ::-webkit-scrollbar-thumb {
            background: #888;
        }
        
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
        
        /* all similar content styling codes */
        .max-width{
            max-width: 1300px;
            padding: 0 80px;
            margin: auto;
        }
        /* navbar styling */
        html{
            scroll-behavior: smooth;
        }
        
        /* custom scroll bar */
        ::-webkit-scrollbar {
            width: 10px;
        }
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
        ::-webkit-scrollbar-thumb {
            background: #888;
        }
        
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
        
        /* all similar content styling codes */
        .max-width{
            max-width: 1300px;
            padding: 0 80px;
            margin: auto;
        } 
        /* navbar styling */
        .navbar{
            position: fixed;
            width: 100%;
            z-index: 999;
            padding: 30px 0;
            font-family: 'Ubuntu', sans-serif;
            transition: all 0.3s ease;
        }
        .navbar.sticky{
            padding: 20px 0;
            background:rgb(15, 15, 15);
            box-shadow: 0px 0px 15px gray;
        }
        .navbar .max-width{
            display: flex;
            
            justify-content: space-between;
        }
        .navbar .logo a{
            color: #fff;
            font-size: 35px;
            font-weight: 600;
        }
        
        .navbar .menu li{
            list-style: none;
            display: inline-block;
        }
        .navbar .menu li a{
            display: block;
            color: #fff;
            font-size: 25px;
            font-weight: 500;
            margin-left: 25px;
            transition: color 0.3s ease;
            text-decoration: none;
        }
        .navbar .menu li a:hover{
            color: #ffbc2b;
        }
        
        
        /* menu btn styling */
        .menu-btn{
            color: #fff;
            font-size: 23px;
            cursor: pointer;
            display: none;
        }
        .scroll-up-btn{
            position: fixed;
            height: 45px;
            width: 42px;
            background:#ffbc2b;
            right: 40px;
            bottom: 10px;
            text-align: center;
            line-height: 45px;
            color:black;
            z-index: 9999;
            font-size: 30px;
            border-radius: 6px;
            border-bottom-width: 2px;
            cursor: pointer;
            opacity: 0;
            pointer-events: none;
            transition: all 0.3s ease;
        }
        .scroll-up-btn.show{
            bottom: 30px;
            opacity: 1;
            pointer-events: auto;
        }
        .scroll-up-btn:hover{
            filter: brightness(90%);
        }
          
        
        
        
        /* home section styling */
        .home{
            display: flex;
            background-image:linear-gradient(rgba(24, 7, 7, 0.5),black),url(../images/tmtrods.jpg);
            height: 100vh;
            width: 100%;
            background-attachment: fixed;
            background-size: cover;
            position: relative;
        }
        .home .max-width{
            margin: auto 0 auto 30px;
        }
        .caption{
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
        }
        .caption h4{
            font-family: 'Roboto', sans-serif;
            font-size: 60px;
            font-weight:500;    
        }
        .caption h4 span{
            color: #ffbc2b;
        }
        .subcap {
            position: absolute;
            top: 58%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: 'Della Respira', serif;
            
            color: #fff;
        }
        .subcap h6{
            margin-top: 100px;
            overflow: hidden;
            white-space: nowrap;
            animation: type 5s steps(28);
            font-size: 30px ;
        }
        @keyframes type{
            0%{
                width: 0ch;
            }
            
            100%{
                width: 28ch;
            }
        }
        
        .logo{
            position: absolute;
            left: 40px;
            top: 5px;
        }
        .logo img{
            height:80px;
            width: 80px;
        }
        .datashow{
            background-color: black;
        }
        .datashow:hover h4::after{
            content:'';
            display: block;
            margin: 5px auto 10px auto;
            height: 2px;
            width: 100px;
            background-color: #ffbc2b;
            transition: all .3s ease;
            border-radius: 10%;
        }
        
        .abtp2 p{
            font-family: 'Quicksand', sans-serif;
            font-size: 25px;
            color: grey !important;
        }
        .abtp2 a{
            color: #ffbc2b !important;
            font-size: 15px;
        }
        .abthdng{
            font-size: 40px;
            font-family: 'Recursive', sans-serif;/*Lato*/
            font-weight: 400;
        }
        .abtimg{
            height: 370px;
            width: 650px;
            box-shadow: 5px 5px 15px #691b07;
        }
        
        .heading h4{
            font-size: 40px;
            font-family: 'Recursive', sans-serif;/*Lato*/
            font-weight: 400;
        }
        .card-body .btn{
            border-color:#96331a !important;/*#ffbc2b*/
            padding: 10px 15px 10px 15px;
            border-radius: 30px;
            font-family: 'Lato';
            font-size: 20px;
        }
        .card-body .btn:hover{
            background-color: #96331a;
            color: white;
        }
        .card{
            box-shadow: 5px 5px 15px gray;
        }
        .card:hover{
            box-shadow: 5px 5px 15px #ffbc2b;
        }
        
        .hdng{
            height: calc(auto + 30px);
        }
        .hdng h4{
            font-size: 40px;
            font-family: 'Recursive', sans-serif;/*Lato*/
            font-weight: 400;
            
        }
        
        
        .hdng a{
            color: black !important;
        }
        .para:hover h4::after{
            content:'';
            display: block;
            margin: 5px auto 10px auto;
            height: 2px;
            width: 100px;
            background-color: #ffbc2b;
            transition: all .3s ease;
            border-radius: 10%;
        }
        .hdng p{
            color: gray;
        }
        .image img{
            width: 490px;
            height: 335px;
            box-shadow: 15px 15px 15px gray;
        }
        .context {
            padding-left: 60px;  
        }
        .context h3{
            color: #691b07;
            font-family: 'Oswald', sans-serif;
            font-size: 40px;
            font-weight: 400;
        }
        .context p{
            color:grey;
            font-family: 'Roboto Mono', monospace;
        }
        .contextlft{
            padding: 0 30px 0 30px ;
        }
        .contextlft h3{
            color: #691b07;
            font-family: 'Oswald', sans-serif;
            font-weight: 400;
            font-size: 40px;
        }
        .contextlft p{
            color:grey;
            font-family: 'Roboto Mono', monospace;
            font-size: 20px;
        }

        .imagert img{
            width: 490px;
            height: 335px;
            box-shadow: 15px 15px 15px gray;
        
        }
        /*action button*/
        .fab-container {
            position: fixed;
            bottom: 100px;
            right: 40px;
            z-index: 999;
            cursor: pointer;
        }
        
        .fab-icon-holder {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            box-shadow: 0 6px 20px rgba(0,0,0,0.2);
        }
        .fab-icon-holder .fa-instagram{
            width: 50px;
            height: 50px;
            border-radius: 100%;
            background: #ffbc2b;
            color: black;
            box-shadow: 0 6px 20px rgba(0,0,0,0.2);
        }
        .fab-icon-holder .fa-facebook-f{
            width: 50px;
            height: 50px;
            border-radius: 100%;
            background: #ffbc2b;
            color: black;
            box-shadow: 0 6px 20px rgba(0,0,0,0.2);
        }
        .fab-icon-holder .fa-twitter{
            width: 50px;
            height: 50px;
            border-radius: 100%;
            background: #ffbc2b;
            color: black;
            box-shadow: 0 6px 20px rgba(0,0,0,0.2);
        }
        .fab-icon-holder .fa-envelope{
            width: 50px;
            height: 50px;
            border-radius: 100%;
            background: #ffbc2b;
            color: black;
            box-shadow: 0 6px 20px rgba(0,0,0,0.2);
        }
        .fab-icon-holder .fa-phone-alt{
            width: 50px;
            height: 50px;
            border-radius: 100%;
            background: #ffbc2b;
            color: black;
            box-shadow: 0 6px 20px rgba(0,0,0,0.2);
        }
        .fab-icon-holder:hover{
            opacity: 0.8;
        }
        
        .fab-icon-holder i {
            display: flex;
            align-items: center;
            justify-content: center;
        
            height: 100%;
            font-size: 25px;
            color: #ffffff;
        }
        
        .fab {
            width: 60px;
            height: 60px;
            background: #d23f31;
        }
        
        .fab-options {
            list-style-type: none;
            margin: 0;
        
            position: absolute;
            bottom: 70px;
            right: 0;
        
            opacity: 0;
        
            transition: all 0.3s ease;
            transform: scale(0);
            transform-origin: 85% bottom;
        }
        
        .fab:hover + .fab-options, .fab-options:hover {
            opacity: 1;
            transform: scale(1);
        }
        
        .fab-options li {
            display: flex;
            justify-content: flex-end;
            padding: 5px;
        }
        
        .fab-label {
            padding: 2px 5px;
            align-self: center;
            user-select: none;
            white-space: nowrap;
            border-radius: 3px;
            font-size: 16px;
            background: #666666;
            color: #ffffff;
            box-shadow: 0 6px 20px rgba(0,0,0,0.2);
            margin-right: 10px;
        }
        /*vision and mission*/
           .card-holder{
               display: flex;
               justify-content: center;
               align-items: center;
           }
           .card{
               width: 400px;
           }
           
           .card-title h4{
            color: maroon;
            padding: 3px 0 ;
           }
        /*footer*/
        .page-footer{
            background-color: rgb(34, 29, 29);
        }
        .page-footer h5{
            color: #ffbc2b;
            font-family: 'Lora', serif;
        }
        .page-footer .list-style li{
            list-style-type: none;
        }
        .page-footer .list-style li a{
            color:grey !important;
            text-decoration: none;
            font-size: 16px;
            margin-left: -18px;
        }
        .page-footer .list-style li a:hover{
            color:white !important;
            font-size: 15px;
        }
        .con a:hover{
            color:white !important;
            font-size: 15px;
        }
        .fa-envelope,.fa-phone-alt{
            color: #ffbc2b;
            margin-top: 8px;
            margin-right: 13px;
        }
        
        @media screen and (max-width:360px){
            .caption h4{
                font-size: 18px;
            }
            .abtp2 p{
                
                font-size: 20px;
            }
            .abtimg{
                height: 300px;
                width: 500px;
                box-shadow: 5px 5px 15px #691b07;
            }
            /*Product Overview*/
            .hdng h4{
                font-size: 30px;
                font-weight: 300;
            }
            .image img{
                width: 300px;
                height: 300px;
                box-shadow: 5px 5px 15px gray;
            }
            iframe{
                width: 320px;
            }
            .card{
                width: 320px;
                margin-top: 8px;
            }
            .caption h4{
                font-size: 30px;
                font-weight:500;
                text-align: center;    
            }
            .subcap h6{
                font-size: 19px;
            }
            .fab-container {
                
                bottom: 90px;
                right: 10px;
                z-index: 999;
                cursor: pointer;
            }
            .scroll-up-btn{
                right: 42px;
                bottom: 10px;   
            }
            .navbar.sticky{
                padding: 25px 0;
            }
        }
        @media screen and (min-width:411px){
            .image img{
                width: 330px;
                height: 300px;
                box-shadow: 5px 5px 15px gray;
            }
            .context {
                margin-top: 15px;
                padding-left: 10px;  
            }
            .imagert img{
                width: 280px;
                height: 305px;
                box-shadow: 15px 15px 15px gray;
            
            }
            .contextlft{
                padding: 0 30px 0 30px ;
            }
            .contextlft h3{
                font-weight: 300;
                font-size: 35px;
            }
            .contextlft p{
                color:grey;
                font-family: 'Roboto Mono', monospace;
                font-size: 15px;
            }
            iframe{
                width: 390px !important;
            }
            .fab-container {
                
                bottom: 90px;
                right: 10px;
                z-index: 999;
                cursor: pointer;
            }
            .scroll-up-btn{
                right: 42px;
                bottom: 10px;
                
            }
            .navbar.sticky{
                padding: 25px 0;
            }
            
        }
        @media screen and (max-width:320px) {
            .image img{
                width: 240px;
                height: 280px;
                padding-left: 0px;
                box-shadow: 15px 15px 15px gray;
            }
            .context {
                margin-top: 15px;
                padding-left: 10px;  
            }
            
            .context h3{
                font-weight: 300;
                font-size: 35px;
            }
            .context p{
                color:grey;
                font-family: 'Roboto Mono', monospace;
                font-size: 15px;
            }
            iframe{
                width: 280px;
            }
            .card{
                width: 300px;
                margin-top: 8px;
            }
            .caption h4{
                
                font-size: 25px;
                font-weight:500;
                text-align: center;    
            }
            .subcap h6{
                font-size: 19px;
            }
            .fab-container {
                
                bottom: 90px;
                right: 10px;
                z-index: 999;
                cursor: pointer;
            }
            .scroll-up-btn{
                right: 42px;
                bottom: 10px;
                
            }
            
        }
        @media screen and (min-width:375px) {
            .caption h4{
                font-size: 30px;
            }
            .image img{
                width: 330px;
                height: 300px;
                padding-left: 0px;
                box-shadow: 15px 15px 15px gray;
            }
            .context {
                margin-top: 15px;
                padding-left: 10px;  
            }
            
            .context h3{
                font-weight: 300;
                font-size: 35px;
            }
            .context p{
                color:grey;
                font-family: 'Roboto Mono', monospace;
                font-size: 15px;
            }
            iframe{
                width: 330px;
            }
            .card{
                width: 350px;
                margin-top: 8px;
            }
            .caption h4{
                
                font-size: 30px;
                font-weight:500;
                text-align: center;    
            }
            .subcap h6{
                font-size: 20px;
            }
            .fab-container {
                
                bottom: 90px;
                right: 10px;
                z-index: 999;
                cursor: pointer;
            }
            .scroll-up-btn{
                right: 42px;
                bottom: 10px;
                
            }
            .navbar.sticky{
                padding: 25px 0;
            }
        }
        @media screen and (min-width:1020px) {
            iframe{
                width: 1500px !important;
            }
            .image img{
                width: 490px;
                height: 335px;
                padding-left: 0px;
                box-shadow: 15px 15px 15px gray;
            }
            .card{
                width: 400px;
                margin-top: 8px;
            }
            .mission img{
                width: 186px;
            }
            .caption h4{
                
                font-size: 60px;
                font-weight:500;    
            }
            .fab-container {
                position: fixed;
                bottom: 100px;
                right: 40px;
                z-index: 999;
                cursor: pointer;
            }
            .navbar.sticky{
                padding: 25px 0;
            }
        }
        @media (max-width: 991px) {
            .max-width{
                padding: 0 50px;
            }
        }
        @media (max-width: 947px){
            .menu-btn{
                display: block;
                z-index: 999;
            }
            .menu-btn i.active:before{
                content: "\f00d";
            }
            .menu-btn .fa-bars{
                margin-left: 180px;
            }
            .navbar .menu{
                position: fixed;
                height: 100vh;
                width: 100%;
                left: -100%;
                top: 0;
                background: #111;
                text-align: center;
                padding-top: 80px;
                transition: all 0.3s ease;
            }
            .navbar .menu.active{
                left: 0;
            }
            .navbar .menu li{
                display: block;
            }
            .navbar .menu li a{
                display: inline-block;
                margin: 20px 0;
                font-size: 25px;
            }
            .max-width{
                max-width: 930px;
            }   
        }
        
        @media (max-width: 500px) {
            
            .scroll-up-btn{
                right: 15px;
                bottom: 15px;
                height: 38px;
                width: 35px;
                font-size: 23px;
                line-height: 38px;
            }
        }
        
        